<div class="row">
  
  <div class="container form-pages">
    <div class="span11">
      <div class="form-box course-summary">

      <%= render "/layouts/signup_form" %>
            
    </div>
    </div>
  </div>
</div> 