<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You Just Submitted an Updated Skill Assessment on OfficeScholar</h1>
    <p>
      You have successfully submitted updated answers for your quiz, <%= @user.email %>.<br/>
    </p>
    <p>
      To view your quizzes and dashboard, sign in at <%= @url %>.
    </p>
    <p>We will follow up shortly with your skill assessment results!  You will either receive your certificate or additional feedback.</p>
  </body>
</html>