</div>
  <div class="section" id="about">
    <div class="container">
    <div class="content">  
    <h3 class="dark after-fixed-nav-about">About Us</h3>
    <div class="row">
      <div class="span11">
        <h3>On-Demand Corporate Training</h3>
        <p>OfficeScholar specializes in screencast tutorials for corporate training.  We offer free Excel screencasts to the general public and tailored screencasts for corporate clients for a variety of software programs and business processes.</p>
        <p>We can standardize tasks by job function, then record instructional video tutorials to increase efficiency, minimize downtime and teach your employees to be self sufficient.  Start recording your company's internal knowledge and share it across the organization.</p>
        <p>We take a fresh approach to an often dull topic, combining principles used by business professionals and academics to construct a custom web-based training program for your employees to reference for job development and troubleshooting.  We carefully design your tutorials to be as efficient as possible, focusing on the areas most critical to getting your employees productive quickly.</p>
        
        <h3>Job Candidate Evaluation</h3>
        <p>Want to see if a job candidate really knows Excel?  We can test that.  Just give us the candidate's email address and we'll handle the rest.  The candidate will complete an Excel skill assessment tailored for your job opening, upload it to to our secure platform, then we will email you the results immediately.</p>

        <h3>Meet Your Instructors</h3>
        <h5>Pat Vihtelic</h5>
        <p>Pat Vihtelic is the co-founder and chief visionary of OfficeScholar.  He most recently worked as a technology investment banker for over four years at William Blair &amp; Company, where he relied heavily on Microsoft Office products for financial modeling, data analysis and deal marketing, completing over 20 IPO and M&amp;A transactions.  Since leaving William Blair, he has been focused on web development.</p>  
        <p>Pat is a graduate of Indiana University and peer tutored for the Kelley School of Business honors Excel course during college.  He is also a graduate of The Starter League, a Chicago-based program dedicated to teaching web development using Ruby on Rails.  When he isn't developing corporate training curriculum, you can find him coding, skiing or spending time with family and friends.</p>
        <p>Contact him directly at <%= mail_to "pat@officescholar.com" %>. </p>
        <h5>Adam Green</h5>
        <p>Adam Green is co-founder and chief of operations at OfficeScholar. He previously spent a year at Groupon, where he created and taught the company's general Excel training program and customized analytical training programs, working in tandem with business unit leaders.  He previously spent over three years as a management consultant, working primarily with highly distressed companies to create operational turnaround plans and refinancing solutions.</p>
        <p>Adam holds a B.S. in Finance from Indiana University, where he minored in music. He is currently a law student at Northwestern University. He is an amateur rock star, appearing with numerous bands in front of tens of people at some of Chicago's least reputable establishments, with the exception of one appearance at Chicago's House of Blues - the zenith of his music career.</p>
        <h3>Contact Information</h3>
        <p>OfficeScholar</br>
          600 N. Kingsbury</br>
          Suite 1002</br>
          Chicago, IL 60654</br>
        </p>
        <p>Email: <%= mail_to "info@officescholar.com" %> </br>
          Phone: +1 312.379.9677 </p>
      </div>
    </div>  
    
    </div>
    </div>

    </div>
    </div>
    </div>
  </div>