<div class="row">
  	<div class="container">
      	<div class="span11">
      		<h3 class="dark show package">Frequently Asked Questions</h3>
      		
		    	<h4 class="faq-heading">What will I learn?</h4>
		    	<p>Our Microsoft Excel screencast tutorials were designed to get you up the curve quickly.  We focus you on the most important parts of Excel so that you can be productive as quickly as possible.  After watching our screencasts, you will be able to apply your new Excel skills to your own projects.</p>
		    	
		    	<h4 class="faq-heading">How can I sign up employees for Excel training?</h4>
		    	<p>Our customers tend to do two things:</p>
			    	<ol>
			    		<li>Direct employees to our website and have them pay out-of-pocket, which in most cases is later reimbursed.  A subscription costs less than a sandwich.</li>
			    		<li>Don't hesitate to call us at +1 312.379.9677 to discuss group discounts.  We start discounting at 2 users!  We can enroll your employees in our program after you provide us with user email addresses.  Enrollment takes minutes, not hours.</li>
			    	</ol>
		    	
		    	<h4 class="faq-heading">How does the subscription work?</h4>
		    	<p>You can subscribe for full access to all of our screencasts using a credit card or PayPal.  Cancellation is easy and we offer a 100% money-back guarantee.  Once you subscribe, you have locked in that price for access to every episode added in the future.</p>
		    	<p>If you are an employee using OfficeScholar for training, ask your employer if they have a voucher code or contact us with any questions if you have any problems accessing.</p>

		    	<h4 class="faq-heading">Does it matter what version of Excel I have?</h4>
		    	<p>We are currently using Microsoft Excel 2010 for our screencasts, which means OfficeScholar is most appropriate for Excel 2010 and 2007 users because they are quite similar, with relatively minor updates found in 2010.  The newest version, Excel 2013, has very similar functionality but appears different by design.  2013 is not widely adopted yet, but we plan on covering it in future episodes.  If you are using Excel 97-2003, I would not recommend using our screencasts.</p>

		    	<h4 class="faq-heading">Are the screencasts meant to be watched in a certain order?</h4>
		    	<p>If you are new to Excel, begin with <%= link_to "Starting From Scratch", "/tutorials/1" %> and progress through the episodes from there. After viewing a screencast, scroll down to see the episode we suggest watching next.</p>

		    	<h4 class="faq-heading">Can I suggest a screencast topic?</h4>
		    	<p>Please do!  You can email any suggestions to <%= mail_to "info@officescholar.com" %></p>

		    	<h4 class="faq-heading">How do you suggest viewing the screencasts?</h4>
		    	<p>Don't forget that the video player has a pause button!  We recommend downloading the Excel file, which is free and located below the video in the episode description.  Once you have the Excel file open, begin playing the tutorial in your browser.  If it is your first time on OfficeScholar, just press play - we'll show you how to open an Excel file in the first episode!</p>  
		    	<p>Press pause and rewind if a section is not sinking in quickly.  Try to complete the same actions and exercises that are demonstrated in the screencasts on your own spreadsheet.  Watch first, then try yourself.</p>

		    	<h4 class="faq-heading">What equipment do you use to produce the episodes?</h4>
		    	<p>For sound, Heil PR 40 microphone and M-Audio Fast Track audio interface. Camstudio for PC screen recording, Video Convert for Mac for file conversion and Final Cut Pro X for editing.</p>

		    	<h4 class="faq-heading">What technology is behind this site?</h4>
		    	<p>OfficeScholar was built using Ruby on Rails.  The application is hosted on Heroku and media files are on AWS S3.  JW Player is used as the in-browser video player.</p>

		    	<h4 class="faq-heading">I am having trouble starting the video, do you know what may be causing the issue?</h4>
		    	<p>The most common issue is not having the latest verion of Adobe Flash.  Modern browsers such as Google Chrome have Adobe Flash built in by default.  <%= link_to "You can download it by clicking here.", "http://get.adobe.com/flashplayer/" %></p>

		    	<h4 class="faq-heading">What other topics will you be releasing in the future?</h4>
		    	<p class="last-faq">We want to make office workers more productive.  We plan on continuing to release Excel tutorials, but will also produce screencasts for other Microsoft Office products such as Word, PowerPoint and Outlook.  Microsoft continues to be the dominant provider for spreadsheets, word processing, presentations and email.</p>

	  	</div>
	</div>
</div>