<div class="row">
  	<div class="container">
      	<div class="span11">
      		<h3 class="dark show package">Frequently Asked Questions</h3>
      		
		    	<h4 class="faq-heading">What will I learn?</h4>
		    	<p>Our Microsoft Excel screencast tutorials were designed to get you up the curve quickly.  We focus you on the most important parts of Excel so that you can be productive as quickly as possible.  After watching our screencasts, you will be able to apply your new Excel skills to your own projects.</p>

		    	<p>Take a Skill Assessment to apply and validate your knowledge of the material.</p>
		    	
				<h4 class="faq-heading">How can OfficeScholar help me, my colleagues or my employees?</h4>	

				<p>Most popular among corporate customers is OfficeScholar's custom screencast training series, which is tailored to a specific business, department or job function.  The screencasts are hosted in a secure cloud-based environment on Amazon's S3, the same infrastructure Dropbox uses for its storage.  Employees can easily access helpful reference material or go through a programmatic training series in an instructor-led screencast format, which clearly shows onscreen demonstrations and can be combined with tutorial files.  In addition to screencasts, we also offer project-based consulting that can be delivered over the web via screen sharing or in person for more extensive Excel projects.</p>

				<p>We also help companies evaluate prospects applying for jobs requiring varying levels of Excel skills.  We can create custom Skill Assessments using Ruby on Rails to quickly evaluate the candidate.  Our skill assessments can range from basic to complex depending on your needs.</p>

				<p>Contact us for more information <%= mail_to "sales@officescholar.com" %></p>

		    	<h4 class="faq-heading">Does it matter what version of Excel I have?</h4>
		    	<p>We are currently using Microsoft Excel 2010 for our screencasts, which means OfficeScholar is most appropriate for Excel 2010 and 2007 users because they are quite similar, with relatively minor updates found in 2010.  The newest version, Excel 2013, has very similar functionality but appears different by design.  2013 is not widely adopted yet, but we plan on covering it in future episodes.  If you are using Excel 97-2003, I would not recommend using our screencasts.</p>

		    	<h4 class="faq-heading">Can I suggest a screencast topic?</h4>
		    	<p>Please do!  You can email any suggestions to <%= mail_to "info@officescholar.com" %> or check out the feedback tab on the left side of the screen.</p>

		    	<h4 class="faq-heading">How do you suggest viewing the screencasts?</h4>
		    	<p>Don't forget that the video player has a pause button!  We recommend downloading the Excel file, which is free and located below the video in the episode description.  Once you have the Excel file open, begin playing the tutorial in your browser.  If it is your first time on OfficeScholar, just press play - we'll show you how to open an Excel file in the first episode!</p>  
		    	<p>Press pause and rewind if a section is not sinking in quickly.  Try to complete the same actions and exercises that are demonstrated in the screencasts on your own spreadsheet.  Watch first, then try yourself.</p>

		    	<h4 class="faq-heading">What equipment do you use to produce the episodes?</h4>
		    	<p>For sound, Heil PR 40 microphone and M-Audio Fast Track audio interface. Camstudio for PC screen recording, Video Convert for Mac for file conversion and Final Cut Pro X for editing.</p>

		    	<h4 class="faq-heading">What technology is behind this site?</h4>
		    	<p>OfficeScholar was built by Pat Vihtelic using Ruby on Rails.  The application is hosted on Heroku and videos, example files and skill assessments are stored on AWS S3.  JW Player is used as the in-browser video player.  The automatic Skill Assessment grader is a script built by Pat Vihtelic using Ruby spreadsheet libraries such as Roo.</p>

		    	<h4 class="faq-heading">How big of an operation is OfficeScholar?</h4>
		    	<p>You will notice the use of "we", "our" and "us" on this site.  I am not trying to be deceptive, it just sounds ridiculous to say "I" everywhere or talk in the third person too much.  Right now, OfficeScholar is a one man operation with all content and web development being handled by me, or in the third person, Pat Vihtelic.  What does that mean?  Customers will be dealing with the person that can execute your Excel training program on all fronts (content, delivery and quality).</p>

		    	<h4 class="faq-heading">What other topics will you be releasing in the future?</h4>
		    	<p>We want to make office workers more productive.  We plan on continuing to release Excel tutorials, but will also produce screencasts for other Microsoft Office products such as Word, PowerPoint and Outlook.  Microsoft continues to be the dominant provider for spreadsheets, word processing, presentations and email.</p>
		    	<p class="last-faq">We'll also be adding more Skill Assessments soon!</p>

	  	</div>
	</div>
</div>