<div class="row">
  	<div class="container">
      	<div class="span11">
      		<h3 class="dark show package">Privacy</h3>

				<h4 class="faq-heading">Overview</h4>
				<p>OfficeScholar is committed to protecting our users' privacy. This statement is meant to inform our users of how we define, gather and utilize personally identifiable information. We will take reasonable steps to protect user privacy consistent within the guidelines set forth in this policy and the law. By using this site, you consent to the following privacy policy.</p>

				<h4 class="faq-heading">Personal Information</h4>

				<p>User information is collected when filling out a form, processing an order, or signing in. At no point is your credit card information stored on this site or handled by us directly.</p>

				<p>Cookies are used to store information about your current session and other preferences. This information may be used to track user progress and to offer a more personalized experience. Cookies can be disabled or cleared in your web browser settings.</p>

				<h4 class="faq-heading">Third Parties</h4>

				<p>We do not sell, trade, or otherwise transfer user information to outside parties. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>

				<p>Any linked, third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites.</p>

				<h4 class="faq-heading">Access to Information</h4>

				<p>The Data Protection Act of 1998 gives you the right to access the information that we hold about you. Please note that any request for access may be subject to a $20 processing fee. Should you wish to make such a request, please contact us at the address below:</p>

				<p>OfficeScholar, Inc.<br />
				600 N. Kingsbury<br />
				Suite 1002<br />
				Chicago, IL<br />
				60654<br />
				</p>

				<p class="last-privacy">+1 312.379.9677</p>

		</div>
	</div>
</div>