<div class="row">
  	<div class="container">
      	<div class="span11">
      		<h3 class="dark show package">Terms and Conditions</h3>
      		
		    	<h4 class="faq-heading">Definitions (Article I)</h4>

				<p>The following definitions shall have the following meanings as used in these general terms and conditions: </p>

				<p>Agreement: the agreement between OfficeScholar and the Customer pursuant to which the Customer makes use of the Services</p>

				<p>Confidential Info: means information of either party which is marked or expressed as being confidential, the content of this Agreement and any information which could reasonably be deemed to be confidential from its nature, content or the circumstances in which it is provided including without limitation information relating to the business, customers, products, operations, processes, plans or intentions, product information, know-how, design rights, trade secrets, market opportunities and business affairs of either party and/or (if either party is part of a larger group of companies) information relating to any other group company </p>

				<p>Customer: any individual or business entity desiring to purchase access to OfficeScholar's services and/or products by making use of the Services</p>

				<p>General Terms: these general terms and conditions </p>

				<p>IPRs: all patents, unpatented inventions, design rights, copyrights (including, without limitation, rights in computer software), rights in databases, topography rights, trade marks, service marks, trade names, rights in goodwill or to bring an action in passing off, rights in trade secrets, confidential information or know-how and all other intellectual property rights of any nature whatsoever, and all rights of a similar nature or having similar effect, throughout the world, whether registered or unregistered, and including all applications and rights to apply for any of the same </p>

				<p>Online Video Players: software provided by third parties used by the OfficeScholar to make available online video content to the Customers (&ldquo;OVP&rdquo;) </p>

				<p>Parties: OfficeScholar, the Customer and the payment processor, Invideous.</p>

				<p>Services: the services offered by OfficeScholar on the Website</p>

				<p>General Terms: these general terms and conditions </p>

				<p>Term: means the period from the date of this Agreemnt until the Agreement is terminated in accordance with its terms </p>

				<p>Website: OfficeScholar's website with (at least) the domain name officescholar.com included but not limited to all related software, design and databases</p>

				<p>PCM or pcm: means per calendar month.</p>

				<h4 class="faq-heading">Agreement (Article II)</h4>

				<p>2.1 The Agreement shall come into force and effect upon its execution by representatives of both Parties. The Customer shall, on execution of this Agreement, fill out the required details for registration on the Website and Invideous shall subsequently provide e-mail confirmation of the Customer registration. The Client guarantees the completeness and accuracy of any information provided. </p>

				<p>2.2 The Customer shall receive a personal username and password, which is strictly private and confidential. The Client will be fully responsible for all activities that occur under this account and for any misuse of the username or password that are/is within its control. </p>

				<p>2.3 After registration and confirmation by Invideous as mentioned in article 2.1 of this Agreement, the Customer will have access to the Website and will be able to use the Website. </p>

				<h4 class="faq-heading">Services and Payment (Article III)</h4>

				<p>3.1 The Services consist of: </p>

				<p>a. OfficeScholar screencast tutorials </p>

				<p>b. Any additional functionality that is added to OfficeScholar. These may be subject to an addendum to this agreement or additional term sheet. </p>

				<p>3.2 When the Customer pays for OfficeScholar's services/products (using the Invideous Service) the cost shall be deducted from the Customer's Invideous account. </p>

				<h4 class="faq-heading">Compliance (Article IV)</h4>

				<p>4.1 The Customer warrants and represents to Invideous that it shall: </p>

				<p>b. refrain from violating any law or regulation, including but not limited to penal laws, privacy laws, advertisement laws and tort law, inter alia acting in any way detrimental, discriminatory, immoral, obscene, inappropriate or otherwise inadmissible pursuant to applicable law; </p>

				<p>e. refrain from hacking the Website or the server(s) on which the Website is located, or circumventing any security measures made to it, or in any other way hinder or influence the operation of the Website. </p>

				<p>That is not asking a ton.</p>

				<p>4.2 OfficeScholar warrants and represents to Customer that it shall: </p>

				<p>a. refrain from infringing any Customer or third party&rsquo;s IPRs; </p>

				<p>b. refrain from violating any law or regulation, including but not limited to penal laws, privacy laws, advertisement laws and tort law, inter alia acting in any way detrimental, discriminatory, immoral, obscene, inappropriate or otherwise inadmissible pursuant to applicable law; </p>

				<p>c. not mislead the Customer in any way or/and refrain from offering illegal services or distributing unlawful material; </p>

				<p>d. comply at all times with the terms set out in the Appendix; </p>

				<p>e. ensure that the Services do not contain any malware or viruses; </p>

				<p>f. provide the Services using reasonable skill and care; and </p>

				<p>g. subject to article 6.4, ensure that the Services and Plugin are available 99.5% of the time.</p>

				<h4 class="faq-heading">Intellectual Property Rights (Article V)</h4>

				<p>5.1 The Customer acknowledges and agrees that all content in the Website will at all times be exclusively owned by OfficeScholar.</p>

				<p>5.2 The Client shall not and shall not allow any third party to: (i) take any action which might invalidate the title of OfficeScholar or any product of the Services; (ii) create, or produce anything which utilises or applies any of the principles, concepts, designs, functionality or purposes of the Website, or (iii) copy, adapt, reverse engineer, modify, decompile, disassemble, translate, or create derivative works based on the whole or any part of the Website, all or any part of the program code, or any product of the Services.  If you want to use our platform, hit us up.</p>

				<p>5.3 The Customer shall refrain from using, reproducing or altering the Website or any part of it in any other way than provided for by means of this Agreement, without Invideous' prior written consent. The Client shall immediately cease and desist the unauthorized use of Invideous' IPRs upon Invideous' first notice. </p>

				<h4 class="faq-heading">Liability (Article VI)</h4>
			
				<p>6.1 Nothing in this Agreement shall be construed as excluding or limiting the liability of either party (i) for fraud or fraudulent misrepresentation, or (ii) for death or personal injury caused by that party&rsquo;s negligence. </p>

				<p>6.2 Subject to article 6.1, in no event shall either party be liable to the other for any: </p>

				<p>6.2.1 special, indirect or consequential losses; or </p>

				<p>6.2.2 loss of profit, loss of revenue, loss of anticipated savings, loss of contract, loss of opportunity, loss of data in each case whether direct or indirect; or </p>

				<p>6.2.3 any direct or indirect loss of or damage to goodwill, in each case arising out of or in connection with this Agreement or the subject matter hereof and in each case whether or not such losses were in the contemplation of the Parties or were notified by one party to the other on or prior to the date of this Agreement. </p>

				<p>6.3 The Parties acknowledge that no representations were made by the other prior to entering into this Agreement, and that they did not rely on any representations (whether written or oral) of any kind, other than those expressly set out in this Agreement. </p>

				<p>6.4 The Services are provided on an &quot;as is&quot; basis, and OfficeScholar makes no guarantees that the Services will be available on a continuous or uninterrupted basis or that it is or will be free of errors or bugs. Save to the extent expressly stated herein, OfficeScholar does not give, and hereby expressly excludes tothe fullest extent permitted by applicable law, any and all other representations, warranties, guarantees, terms or conditions, whether implied, statutory or otherwise with respect to the Services and the Plugin, or the performance of its obligations hereunder. The Customer understands and agrees that from time to time the Services may be inaccessible, unavailable or inoperable for causes beyond the control of Invideous or which are not reasonably foreseeable by Invideous and Invideous shall not be liable for any failure to perform its obligations under this Agreement caused by any such causes. The Customer further acknowledges that from time to time it may be necessary to perform planned periodic maintenance procedures or repairs, affecting the availability of the Services. The Customer warrants and represents that it shall keep such planned procedures to an absolute minimum.</p>

				<p>6.5 The Customer shall submit any complaints with regard to the Services in writing within 10 days after the grounds for complaint have arisen, with a clear description of the grounds for the complaint. OfficeScholar endeavours to resolve the complaint without delay. </p>

				<p>6.6 The Customer shall indemnify OfficeScholar from and against any claims, liabilities, losses, damages, costs and expenses, including reasonable legal fees, arising out of or in connection with (i) any breach of its obligations under this Agreement, or (ii) any claim or allegation that the Customer&rsquo;s website(s), including any content therein or any downloads available therefrom: (a) infringes any third party&rsquo;s patent, copyright, trade secret or other IPRs; or (b) violates any law or regulation; or (c) violates any right of or causes injury to any third party, including any right of publicity or privacy, or is defamatory or obscene. </p>

				<p>6.7 OfficeScholar shall indemnify the Customer from and against any claims, liabilities, losses, damages, costs and expenses, including reasonable legal fees, arising out of or in connection with (i) any breach of its obligations under this Agreement, or (ii) any claim or allegation that the Website or Services: (a) infringes any third party&rsquo;s patent, copyright, trade secret or other IPRs; or (b) violates any law or regulation; or (c) violates any right of or causes injury to any third party, including any right of publicity or privacy, or is defamatory or obscene. </p>

				<p>6.8 OfficeScholar undertakes to maintain insurance cover that Invideous reasonably believes would provide adequate cover for this Agreement (including without limitation errors and omissions, cyber liability and public liability) and will note the Client&rsquo;s interest upon such insurance policies. Invideous shall upon request provide the Client with the relevant policies and evidence of payment of the current premiums.</p>

				<h4 class="faq-heading">Term and Termination (Article VII)</h4>
				
				<p>7.1 The Agreement shall commence on the date of this Agreement and continue until the end of the Initial Term unless terminated earlier as provided herein. In addition the Initial Term will automatically renew for an additional one year period (&ldquo;Renewal Term&rdquo;) unless Invideous or the Client gives the other party at least three (3) months notice of its intention to terminate at the end of the Initial Term. </p>

				<p>7.2 Without prejudice to the accrued rights and liabilities of the Parties at termination, the Client has the right to terminate this Agreement without cause upon 30 days prior notification. </p>

				<p>7.3 This Agreement may be terminated forthwith by either party giving to the other written notice in the event that the other party: </p>

				<p>7.3.1 has committed a material breach of this Agreement and has failed to remedy it within fourteen (14) days of written notice to do so having been given by the party not in default; </p>

				<p>7.3.2 has committed a material breach of this Agreement which is incapable of remedy; or </p>

				<p>7.3.3 ceases or threatens to cease carrying on the whole or substantially the whole of its business, or the other party suffers or threatens to suffer any form of insolvency including where an order is made or resolution passed for a voluntary winding up of the other party, or where the other party has an administrative order made in relation to it or has a receiver or administrator appointed over any of its property, undertaking or assets or if the other party is unable to pay its debts as and when they fall due, or any event occurs, or proceeding is taken, with respect to the other party in any jurisdiction that has an effect equivalent or similar to any of the events mentioned in this article 7.3.3. </p>

				<p>7.4 After termination of this Agreement, the Customer will immediately cease the use of the Services.  OfficeScholar will be authorized to block the Customer from using the Website.</p>

				<h4 class="faq-heading">Data Ownership and Protection (Article VIII)</h4>
				<p>
				Article 8 &ndash; Data Ownership &amp; Protection</p>

				<p>8.1 Both parties warrant and represent that they will duly observe all their obligations under the Data Protection Act 1998 which arise in connection with this Agreement and any other applicable data protection legislation.</p>

				<h4 class="faq-heading">General Provisions (Article IX)</h4>

				<p>9.1 Neither party may assign its rights and obligations pursuant to this Agreement without the other party&rsquo;s prior written consent, such consent not to be unreasonably withheld or delayed. </p>

				<p>9.2 If any provision of this Agreement is held to be unlawful, void or unenforceable by any judicial or administrative authority, this shall not in and of itself affect the validity or enforceability of the remaining provisions of this Agreement, provided that the cancellation of such provision does not materially alter the commercial balance of this Agreement. </p>

				<p>9.3 Any waiver of either party of a breach of any provision of this Agreement shall not be considered to be a waiver of any subsequent breach of the same or any other provisions. No waiver shall be implied by taking or failing to take any other action. </p>

				<p>9.4 A person who is not a party to this Agreement shall have no right under the Contracts (Rights of Third Parties) Act 1999 to enforce any term of this Agreement. This article does not affect any right or remedy of any person which exists or is available otherwise than pursuant to that Act. </p>

				<p>9.5 This Agreement shall not be varied unless such variation is in writing signed by a duly authorised representative of each party. </p>

				<p>9.6 Neither party shall be liable to the other in respect of anything which, apart from this provision, may constitute breach of this Agreement arising by reason of force majeure, namely circumstances beyond the control of either party which shall include without limitation acts of God, perils of the sea or air, fire, flood, drought, explosion, sabotage, accident, embargo, riots, labour strikes, civil commotion or civil authority including acts of local government and parliamentary authority. In such eventuality, the parties shall meet together to devise ways of overcoming the difficulty. </p>

				<p>9.7 Any notices given by either party under this Agreement shall be given in writing and provided to the recipient at its address set out above (or such address as such party may notify the other for the purposes of this Agreement). Any such notice shall be deemed to be delivered: </p>

				<p>9.7.1 if delivered personally, at the time of delivery; </p>

				<p>9.7.2 if sent by first class post, forty-eight (48) hours after posting; and </p>

				<p>9.7.3 if sent by facsimile, at the time of transmission as confirmed by a transmission report from the sender's facsimile machine.</p>

				<h4 class="faq-heading">Applicable law and jurisdiction (Article X)</h4>

				<p>The Agreement and any dispute or claim arising out of or in connection with it (including non-contractual disputes or claims) shall be governed by and construed in accordance with the laws of England and Wales. The parties to the Agreement irrevocably agree to submit to the exclusive jurisdiction of the courts of England and Wales in relation to all matters arising out of or in connection with the Agreement (including non-contractual disputes or claims).</p>

				<h4 class="faq-heading">Confidentiality (Article XI)</h4>

				<p>11.1 Each party shall: </p>

				<p>11.1.1 hold in confidence all Confidential Information obtained from the other party; and </p>

				<p>11.1.2 not disclose to any third party without the express permission of the other party any Confidential Information obtained from the other party. </p>

				<p>11.2 The provisions of Article 11.1 shall not apply to any information which: </p>

				<p>11.2.1 is or becomes public knowledge other than by breach of this Article 11; </p>

				<p>11.2.2 is in the possession of the receiving party without restriction in relating to disclosure before the date of receipt from the disclosing party; </p>

				<p>11.2.3 is received from a third party who lawfully acquired or developed it and who is under no obligation restricting its disclosure; or </p>

				<p>11.2.4 must be disclosed by the receiving party in the discharge of its obligations to supply information for parliamentary, governmental or judicial purposes.</p>

				<h4 class="faq-heading">Appendix</h4>

				<p>Payment Card Issuer Compliance </p>

				<p class="last-faq">i. OfficeScholar's payment processor, Invideous, agrees to comply with VISA&rsquo;s, Mastercard&rsquo;s and any other credit card issuer rules and regulations, including but not limited to their respective data security program requirements. Invideous agrees to provide data security reports as required by such issuer, pay to such issuer any fines and/or penalties in the event that Invideous or any third party fails to comply with such data security requirements, provide full cooperation and access to permit such issuer to conduct a security review of Invideous&rsquo;s policies and procedures. The Customer reserves the right to terminate this Agreement forthwith in the event that such issuer finds that Invideous has failed to comply with its data security requirements or if Invideous has failed to obtain a &ldquo;passing grade&rdquo; from such issuer.</p>

	  	</div>
	</div>
</div>