<%= link_to "OfficeGeek", root_path, :class => 'brand' %>

<div id="nav" class="pageScrollerNav standardNav right dark">
<ul class="nav">
    <li>
    <%= link_to 'Section 1', "#section-1" %>
    </li>
    <li>
    <%= link_to 'Section 2', "#section-2" %>
    </li>
    <li>
    <%= link_to 'Section 3', "#section-3" %>
    </li>
  </ul>
</div>